{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <div class="container">
      <div class="row py-5">
        <div class="col-md-12 text-center">
          <h2>Edit Product</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <form method="POST" action="update">
          <input type="hidden" name="uid" value="{{ .Id }}" />
          <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ .Name }}" />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" id="price" class="form-control" value="{{ .Price }}" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description">{{ .Description }}</textarea>
          </div>
          <button type="submit" class="btn btn-success w-100">Save</button>
        </form>
        </div>
      </div>
    </div>
  {{ template "Footer" }}
{{ end }}